<html>
    <head>
    <title> Éditer un potin </title>
    </head>
    <body>
        <h1> Éditer un potin </h1>
        <p> Éditer le potin n°<%= id%> </p>
        <form action='/gossips/<%= id%>/edit/' method='POST'>
            Saisi ici ton nom :  <input type='text' name='gossip_author'/><br/>
            Balance ton potin : <input type='text' name='gossip_content'/><br/>
            <input type='submit'/>
        </form>
    </body>
</html>
